{
  "env": {
    "browser": false,
    "es2021": true,
    "node": true
  },
  "plugins": [
    "@typescript-eslint",
    "simple-import-sort",
    "unused-imports"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "unused-imports/no-unused-imports": "warn",
    "unused-imports/no-unused-vars": {
      "vars": "all",
      "varsIgnorePattern": "^_",
      "args": "after-used",
      "argsIgnorePattern": "^_"
    },
    "simple-import-sort/exports": "warn",
    "simple-import-sort/imports": {
      "warn": true,
      "groups": [
        ["^@?\\w", "^\\u0000"],
        [
          "^\\./?$",
          "^\\.(?!/?$)",
          "^\\.\\./?$",
          "^\\.\\.(?!/?$)",
          "^\\.\\./\\.\\./?$",
          "^\\.\\./\\.\\.(?!/?$)",
          "^\\.\\./\\.\\./\\.\\./?$",
          "^\\.\\./\\.\\./\\.\\.(?!/?$)"
        ],
        ["^"]
      ]
    }
  }
}